<!DOCTYPE html>
<html>
  <head>
    <title>Contact Form</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/emailer.js"></script>

    <style type="text/css">
      #response { display:none; padding: 5px;}
      .success { background-color: green;}
      .error { background-color: red;}
    </style>

  </head>
  <body>
    <div id="response"></div>
    <form id="myForm">
      <label for="name">Name:</label><br>
      <input type="text" name="name" id="name" placeholder="Name"><br />

      <label for="emailAddress">Email Address:</label><br>
      <input type="email" name="email" id="email" placeholder="Email address"><br />

      <label for="message">Message</label><br>
      <textarea name="message" id="message" rows="10" cols="50"></textarea><br />

      <button type="submit">Send</button>
    </form>
  </body>
</html>
